.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(92, 92, 92);
}

.input {
  padding: 10px;
  margin-top: 16px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  color: rgb(145, 145, 145);
  font-size: 20px;
}

.input:focus {
  border-color: rgb(59, 172, 48);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(69 189 69);
}

.btn:hover,
.btn:focus {
  background-color: #28ab28;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
