.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(69 189 69);
  margin-left: 20px;
}

.btn:first-child {
  margin-left: 0;
}

.btn:hover,
.btn:focus {
  background-color: #28ab28;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
